 <!-- this one is not used in this robot -->
<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name = "my_rover">
    
<!--    <gazebo>
        <plugin filename = "libgazebo_ros_diff_drive.so" name = "differential_drive_controller">
            <commandTopic>cmd_vel</commandTopic>
            <odometryTopic>odom</odometryTopic> -->
            <!-- <num_wheel_pairs> 2 </num_wheel_pairs> -->
            <!-- <odometryFrame>odom</odometryFrame>
            <odometrySource>world</odometrySource>
            <publishOdomTF>true</publishOdomTF>
            <robotBaseFrame>base_link</robotBaseFrame>
            <publishWheelTF>false</publishWheelTF>
            <publishTf>true</publishTf>
            <publishWheelJointState>true</publishWheelJointState>
            <legacyMode>false</legacyMode>
            <updateRate>30</updateRate>
            <leftJoint>front_left_wheel_joint</leftJoint>
            <rightJoint>front_right_wheel_joint</rightJoint> -->
            <!-- <leftJoint>rear_left_wheel_joint</leftJoint> -->
            <!-- <rightJoint>rear_right_wheel_joint</rightJoint> -->
            <!-- <wheelSeparation>0.5</wheelSeparation>
            <wheelDiameter>0.3</wheelDiameter>
            <wheelAcceleration>1</wheelAcceleration>
            <wheelTorque>10</wheelTorque>
            <rosDebugLevel>na</rosDebugLevel>
        </plugin>
    </gazebo> -->

    <gazebo>
        <plugin name="skid_steer_drive_controller" filename="libgazebo_ros_skid_steer_drive.so">
            <updateRate>50.0</updateRate>
            <robotNamespace>/</robotNamespace>
            <leftFrontJoint>front_left_wheel_joint</leftFrontJoint>
            <rightFrontJoint>front_right_wheel_joint</rightFrontJoint>
            <leftRearJoint>rear_left_wheel_joint</leftRearJoint>
            <rightRearJoint>rear_right_wheel_joint</rightRearJoint>
            <wheelSeparation>0.45</wheelSeparation>
            <wheelDiameter>0.15</wheelDiameter>
            <robotBaseFrame>base_link</robotBaseFrame>
            <torque>200</torque>
            <commandTopic>cmd_vel</commandTopic>
            <odometryTopic>odom</odometryTopic>
            <odometryFrame>odom</odometryFrame>
            <covariance_x>100.0</covariance_x>
            <covariance_y>100.0</covariance_y>
            <covariance_yaw>100.0</covariance_yaw>
            <broadcastTF>true</broadcastTF>
        </plugin>
    </gazebo>

</robot>