<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name = "my_rover">
    
    <gazebo>
        <plugin filename = "libgazebo_ros_diff_drive.so" name = "differential_drive_controller">
            
            <!-- wheel info -->
            <!-- <leftFrontJoint>front_left_wheel_joint</leftFrontJoint>
            <rightFrontJoint>front_right_wheel_joint</rightFrontJoint>
            <leftRearJoint>rear_left_wheel_joint</leftRearJoint>
            <rightRearJoint>rear_right_wheel_joint</rightRearJoint> -->
            <leftJoint> ['front_left_wheel_joint', 'rear_left_wheel_joint'] </leftJoint>
            <rightJoint> ['front_right_wheel_joint', 'rear_right_wheel_joint'] </rightJoint>
            <wheelSeparation>0.4</wheelSeparation>
            <wheelDiameter>0.066</wheelDiameter> 

            <!-- limits -->
            <wheelTorque>100</wheelTorque>
            <wheelAcceleration> 10.0</wheelAcceleration>

            <!-- odometry -->
            <odometryFrame>odom</odometryFrame>
            <odometryTopic>odom</odometryTopic>
            <odometrySource>1</odometrySource>

            <commandTopic>cmd_vel</commandTopic>
            <robotBaseFrame>Chassis</robotBaseFrame>

            <!-- output -->
            <updateRate>50.0</updateRate>
            <publish_odom>true</publish_odom>
            <publishTf>1</publishTf>
            <publishOdomTF>true</publishOdomTF>
            <publishWheelTF>true</publishWheelTF>
            <publishWheelJointState>true</publishWheelJointState>
            <legacyMode>false</legacyMode>
        </plugin>
    </gazebo>


</robot>