<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="my_rover">
    
    <!-- camera/sensor mount -->
    <joint name="lidar_joint" type="fixed">
        <parent link="mount_link"/>
        <child link="lidar_link"/>
        <origin xyz="0.0 0.0 0.1" rpy="0.0 0.0 0.0"/>
        <axis xyz="0.0 0.0 0.0"/> 
    </joint>

    <link name="lidar_link">
        <visual> 
            <geometry>
                <mesh filename="package://my_4wheel_bot/meshes/lds.stl" scale="0.002 0.002 0.002"/>
            </geometry>
            <material name="">
                <color rgba="0.0 0.0 0.8 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <cylinder radius="0.08" length="0.1"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0.114"/>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <inertia ixx="0.001" ixy="0.0" ixz="0.0"
                    iyy="0.001" iyz="0.0"
                    izz="0.001" />        
        </inertial>
    </link>

    <gazebo reference = "lidar_link">
        <sensor name = "lds_lfcd_sensor" type = "ray">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>false</visualize>
            <update_rate>50</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <resolution>1</resolution>
                        <min_angle>-3.14159</min_angle>  <!-- -135 degrees in radians -->
                        <max_angle>3.14159</max_angle>   <!-- 135 degrees in radians -->
                    </horizontal>
                </scan>
                <range>
                    <min>0.3</min>   <!-- Minimum range in meters -->
                    <max>30</max>   <!-- Maximum range in meters -->
                    <resolution>0.01</resolution>   <!-- Range resolution in meters -->
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.01</stddev>
                </noise>
            </ray>
            <plugin name="gazebo_ros_lds_lfcd_controller" filename="libgazebo_ros_laser.so">
                <!-- <robotNamespace>my_rover</robotNamespace> -->
                <topicName>/scan</topicName>
                <!-- <ros>
                    <remapping>~/out:=scan</remapping>
                </ros>
                <output_type>sensor_msgs/LaserScan</output_type> -->
                <frameName>lidar_link</frameName>
            </plugin>
        </sensor> 
        <material> Gazebo/Blue </material>
    </gazebo> 
 
</robot>

