<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="my_rover">
    
    <xacro:include filename="$(find mobile_robot)/urdf/rover.urdf.xacro"/>

    <!-- <xacro:include filename="$(find mobile_robot)/description/gazebo_control.xacro"/> -->
    
    <xacro:include filename="$(find mobile_robot)/urdf/lidar.xacro"/>

</robot>