<?xml version="1.0"?>
<launch>
    
    <rosparam file="$(find my_4wheel_bot)/config/diff_drive_controller.yaml" command="load" ns = "diff_drive_controller"/>

    <rosparam file="$(find my_4wheel_bot)/config/joint_state_controller.yaml" command="load" ns = "joint_state_controller"/>
    
    <param name="robot_description" command="xacro '$(find my_4wheel_bot)/urdf/robot_core.urdf.xacro'"/>

    <arg name="rviz_config_file" default="$(find my_4wheel_bot)/rviz/robot_config.rviz"/>

    <node name="controller_spawner" pkg="controller_manager" type="spawner" output = "screen" 
        args = "diff_drive_controller
                joint_state_controller"/>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output = "screen"/>
    
    <node pkg="rviz" type="rviz" name="rviz" args = "-d $(arg rviz_config_file)"/>

    
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find my_4wheel_bot)/worlds/myrover_house.world"/>
        <arg name="paused" default="false"/>
        <arg name="use_sim_time" default="true"/>
        <arg name="gui" default="true"/>
        <arg name="headless" default="false"/>
        <arg name="debug" default="false"/>
    </include>

    <node name="spawning_lidar" pkg="gazebo_ros" type="spawn_model" args=" -urdf -param robot_description -model my_rover" />

</launch>